:root {
  
  --primary-color: #ffcb2f;
  --base-variant: #eeeeee33;
}

.darkmode {
  background: linear-gradient(to bottom right, #02388a, #7e1b03);
  --primary-color: #5c72ca;
  --base-variant: #1036a8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #6F86FF;
}

body {
  background: linear-gradient(to bottom right, #de350b, #0065ff);
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

#theme-switch {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  background-color: var(--base-variant);
}

#theme-switch svg {
  fill: var(--primary-color);
}


#theme-switch svg:last-child {
  display: none;
} 

.darkmore #theme-switch svg:first-child {
  display: none;
}

.darkmore #theme-switch svg:last-child {
  display: block;
}

/* off-screen-menu */
.off-screen-menu {
  height: 40vh;
  width: 50%;
  max-width: 150px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  
  align-items: center;    
  justify-content: center;
  text-align: right;
  font-size: 20px;
  font-weight: bolder;
  transition: .4s ease;
  
}
.off-screen-menu ul li {
 padding: 5px;
}
.off-screen-menu ul li img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.off-screen-menu ul li img:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;

}
.off-screen-menu.active {
  right: 0;
}



/* nav */
nav {
  padding: 10px;
  display: flex;
}



/* ham menu */
.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #ededed;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
  
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}